﻿body {
}

.right-sidebar {
    background-color: #20232a;
    color: rgb(255, 255, 255);
    background: rgb(40, 44, 52);
    border-radius: 10px;
    padding: 10px;
}

.row {
    margin-right: 0px;
    margin-left: 0px; 
}